<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429947430432-jpjkjfges8r4atrr7dn871bb8co06bqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429947430432-jpjkjfges8r4atrr7dn871bb8co06bqk</string>
	<key>API_KEY</key>
	<string>AIzaSyDlLjy4UjLoOh8Xfa2OdqwRqo6SIBCllgE</string>
	<key>GCM_SENDER_ID</key>
	<string>429947430432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Group8.TodoWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>todowithswift</string>
	<key>STORAGE_BUCKET</key>
	<string>todowithswift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429947430432:ios:b75a148b6a554735</string>
	<key>DATABASE_URL</key>
	<string>https://todowithswift.firebaseio.com</string>
</dict>
</plist>